
[submodule "themes/docsy"]
	path = themes/docsy
	url = https://github.com/google/docsy
[submodule "a053131a4ebf6a59e4e8834a42368e248d98c01d themes/docsy (heads/master)"]
	path = a053131a4ebf6a59e4e8834a42368e248d98c01d themes/docsy (heads/master)
	url = https://github.com/taemin77/blog.git
